.tweakCard {  
    margin-bottom: 10px;
}
.card {
    margin-bottom: 3%;
}
.card.listItem {
    margin-bottom: 3%;
    padding: 0.25rem;
}
.card-body {
    margin-bottom: 3%;
}
.tweatText {
    margin-bottom: 20px;
    padding: 0.25rem;
}




