.container.menuBox {
    margin-top: 0%;
    background: #FFFFFF;
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.menuLogo {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 3%;
    bottom: 1%;
    height: 10%;
    background: #FFFFFF;
    padding-left: 4%;
    font-family: Khula;
    font-style: normal;
    font-weight: bold;
    font-size: 4vw;
    line-height: 44px;

    color: #AD1616;
}

.menuLinks {
    position: absolute;
    width: 96%;
    height: 700px;
    left: 0%;
    top: 20%;
    margin-left: 4%;
    
}

.menuLinks h2 {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 2;
    display: inline-block;
    align-items: center;

    color: #000000;
}
.fa {
    top: 5px;
    left: 0%;
    color: #000000;
    margin-right: 5px;
}
.container.bioBox{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 25%;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    
}
.card-img-top {
    width: 96%;
}

.bioBox h2 {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 2;
    display: flex;
    align-items: center;

    color: #000000;
}
.btn-secondary.bio{
    position: absolute;
    top: 75%;
    left: 75%;
    border-radius: 30px
}

.container.trendingBox{
    position: absolute;
    width: 25%;
    height: 100%;
    left: 75%;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    background: #E5E5E5;
    

}

hr {
    margin-bottom: .25rem;
}

.trendingBox h2 {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 2;
    display: flex;
    align-items: center;

    color: #000000;
}

.card {
    border-radius: 15px
}

.btn-secondary {
    position: absolute;
    top: 4%;
    left: 75%;
    border-radius: 30px
}

@media only screen and (max-width: 500px) {
    .container.trendingBox{
        display: none;
    }
    .container.bioBox{
        position: absolute;
        width: 77%;
        height: 100%;
        left: 25%;
        top: 0px;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
    
        /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    }
    .menuLinks h2 {
        display: none;
    }
    .menuLogo {
        font-size: 5vw;
    }

}

@media only screen and (max-width: 768px) {
    .container.trendingBox{
        display: none;
    }
    .container.bioBox{
        position: absolute;
        width: 77%;
        height: 100%;
        left: 25%;
        top: 0px;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
    
        /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    }
    .menuLinks h2 {
        left: 5%;
        display: none;
      
    }
    .bioBox h2 {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 4vw;
        line-height: 2;
        display: flex;
        align-items: center;
    
        color: #000000;
    }
    .fa {

        /* left: 10%; */
 
        margin: 5%;
    }
          
}