body {
    background-color: lightgray;
}

.container {
    
    padding: 1.5% 4%;
    height: 82%;
    width: 80%;
    margin-top: 0%;
    border: 1px solid #666666;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.row {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin-left: 1px;
    margin-bottom: 3px;
    width: 30%;
    
    color: #000000;
}

.form-group input {
    
    background: #E5E5E5;
    border-bottom: 2px solid #870505;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 553px;
    height: 65px;
    left: 20px;
    top: -4px;

    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

    color: #000000;
}

.form-group textarea {
    
    background: #E5E5E5;
    border-bottom: 2px solid #870505;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    left: 20px;
    top: -4px;

    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

    color: #000000;
}

.img-thumbnail {
    position: absolute;
    left: 65.36%;
    width: 200px;
    top: 25.77%;
    bottom: 17.77%;
    border-radius: 110px;
    border: 2px solid #870505;

    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-align: center;

    color: #000000;

    background: #E5E5E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
    position: absolute;
    width: 20%;
    height: 45px;
    left: 62%;

    background: #FFFFFF;
    padding-left: 4%;
    top: 12.69%;
    bottom: 19.54%;

    font-family: Khula;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    color: #AD1616;
}

.btn-secondary {
    /* position: absolute;
    top: 4%;
    left: 75%; */

   border-radius: 30px
}

